@page "/calculateDeposite"

<div class="container d-flex align-items-center justify-content-center flex-column mt-3 h-100">
    @switch (_pageState)
    {
        case DepositePageState.DISPLAY_FORM_STATE:
            <DepositeForm OnFormSubmit="OnDepositeFormSubmit" />
            break;
        case DepositePageState.LOADING_STATE:
            <ComponentCircleLoader />
            break;
        case DepositePageState.DISPLAY_LIST_STATE:
            <CascadingValue Name="PerMonthInfos" Value="@depositeResponse.PerMonthInfos">
                <DepositeResponseContainer OnBackToForm="BackToForm" />
            </CascadingValue>
            break;
        default:
            <div></div>
            break;
    }
</div>