
<div class="container shadow p-3 mb-5 bg-white rounded w-50">
    <h2 class="d-flex justify-content-center">Calculate your deposite</h2>
    <form>
        <div class="mb-3">
            <label for="depositeSum" class="form-label">Deposite Sum</label>
            <input placeholder="deposite sum" type="number" step=".01" class="form-control" id="depositeSum1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="depositeSum" class="form-label">Month Count</label>
            <input type="number" class="form-control" id="depositeSum1">
        </div>
        <div class="mb-3">
            <label for="percents" class="form-label">Percents</label>
            <input type="number" class="form-control" id="percents1">
        </div>
        <button class="btn btn-primary btn-block">Calculate Deposite</button>
    </form>
</div>


@code {

}
