@using BankingApp.Shared;

@page "/users/{page:int}"
@attribute [Authorize(Roles = Constants.Roles.Admin)]

<div class="container d-flex align-items-center justify-content-center flex-column mt-3 h-100 w-100">
    @if (_pagedUsers is not null && _pagedUsers.Items.Any())
    {
        <div class="d-flex align-items-center justify-content-center flex-column w-100">
            <div class="w-100">
               <UserTable Page="Page" UsersOnPage="UsersOnPage" UsersViewList="_pagedUsers.Items" OnBlockUserClick="async (args)=> await BlockUserAsync(args.Item1, args.Item2)" />
            </div>

            <div class="mt-4">
                <PaginationSwitcher PageCount="_totalPageCount" CurrentPage="Page" OnPageClick="@OnPageClicked" />
            </div>
        </div>
    }
    else
    {
        <div>
            <h6>User list is empty !</h6>
        </div>
    }
</div>

