@inherits LayoutComponentBase

<Header />

@if (_showLoader)
{
    <div class="loading-spinner-container">
        <CircleLoader />
    </div>
}

<div class="page @(_showLoader ? "invisible" : "")">
    <div class="container h-100">
        @Body
    </div>
</div>

