@page "/"
@using BankingApp.UI.Components.DepositeForm; 

<div class="container d-flex align-items-center justify-content-center flex-column mt-3 h-100">
    <DepositeForm OnFormSubmit="@OnDepositeFormSubmit" />
</div>