@page "/"
@attribute [Authorize]

<div class="container d-flex align-items-center justify-content-center flex-column mt-3 h-100">
    <DepositCalculateForm OnFormSubmit="@OnDepositeFormSubmit" />
</div>