@page "/"

<div class="container d-flex align-items-center justify-content-center flex-column mt-3 h-100">
    @switch (_pageState)
    {
        case DepositePageState.DisplayFormState:
            <DepositeForm OnFormSubmit="@OnDepositeFormSubmit" />
            break;
        case DepositePageState.LoadingState:
            <CircleLoader />
            break;
        case DepositePageState.DispalyListState:
            <CascadingValue Name="PerMonthInfos" Value="@_depositeResponse.PerMonthInfos">
                <DepositeResponseContainer OnBackToForm="BackToForm" />
            </CascadingValue>
            break;
        default:
            <div></div>
            break;
    }
</div>