@page "/resetPassword"

<div class="container shadow p-3 mb-5 bg-white rounded w-50 mt-3">
    <EditForm Model="@_resetPasswordView" OnValidSubmit="async () => { await OnFormSubmitAsync(); }">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText @bind-Value="_resetPasswordView.Email"
                       id="email"
                       placeholder="email"
                       class="form-control" />
            <ValidationMessage For="@(() => _resetPasswordView.Email)" />
        </div>
        <button type="submit" disabled="@(!context.Validate() || !context.IsModified())" class="btn btn-primary btn-block">Reset Password</button>
    </EditForm>
</div>
