@page "/resetPassword"
@attribute [Unauthorized]

<div class="container shadow p-3 mb-5 bg-white rounded w-50 mt-3">
    <EditForm Model="@_resetPasswordView" OnValidSubmit="async () => { await OnFormSubmitAsync(); }">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText @bind-Value="_resetPasswordView.Password"
                       id="password"
                       placeholder="password"
                       class="form-control" />
            <ValidationMessage For="@(() => _resetPasswordView.Password)" />
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <InputText @bind-Value="_resetPasswordView.ConfirmPassword"
                       id="confirmPassword"
                       placeholder="password"
                       class="form-control" />
            <ValidationMessage For="@(() => _resetPasswordView.ConfirmPassword)" />
        </div>
        <button type="submit" disabled="@(!context.Validate() || !context.IsModified())" class="btn btn-primary btn-block">Reset Password</button>
    </EditForm>
</div>
