@page "/history" 

<div class="container d-flex align-items-center justify-content-center flex-column mt-3 h-100">



    <PaginationSwitcher PageCount="10" CurrentPage="5" OnPageClick="@OnPageClicked" />
</div>
    
