<nav class="navbar navbar-expand navbar-dark bg-dark">
    <label class="navbar-brand" href="/">BankingApp</label>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item  @GetActive(Routes.DepositePage, NavLinkMatch.All)">
                <a class="nav-link" href="" @onclick="(e) => {  _navigationManager.NavigateTo(Routes.DepositePage); }" @onclick:preventDefault>Deposite</a>
            </li>
        </ul>
    </div>
</nav>

